# Secrets
.secrets

# Logs
*.log*
*.log*.gz
/logs/
**.log*s/

# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
admin-ui-spa/dist/
admin-api/coverage/

# OS
.DS_Store

# Terraform
terraform.tfvars
.terraform/

# Minecraft Server Data & Binaries
*.jar
**/data/
*/world/
server.properties
.rcon-cli.env
.rcon-cli.yaml
*.dat
*.dat_old
