.secrets
landing/**/data/world/
admin-api/coverage/
admin-api/node_modules/
admin-ui-spa/dist/
admin-ui-spa/node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs
*.log
.env

# Log files
*.log
*.log.gz

# Terraform secrets
terraform.tfvars

node_modules/

# Server data
*/data/*
*/world/*
*/logs/*
server.properties
.rcon-cli.env
.rcon-cli.yaml
