
x-mc-server-base: &mc-server-base
  image: ghcr.io/evo42/mc-server/minecraft-base
  build:
    context: ./minecraft-base
    dockerfile: Dockerfile.consolidated
  restart: unless-stopped
  networks:
    - minecraft-net
  expose:
    - "25565"
  environment:
    - EULA=${MC_EULA:-TRUE}
    - VERSION=${MC_VERSION:-1.21.1}
    - MEMORY=${MC_MEMORY:-4G}
    - MAX_MEMORY=${MC_MAX_MEMORY:-8G}
    - TYPE=PAPER
    - ONLINE_MODE=${MC_ONLINE_MODE:-false}
    - ENABLE_PROXY_CONNECTIONS=${MC_ENABLE_PROXY_CONNECTIONS:-true}
    - MAX_PLAYERS=${MC_MAX_PLAYERS:-250}
    - SERVER_DIR=/data

services:
  mc-ilias:
    <<: *mc-server-base
    container_name: mc-ilias
    environment:
      - MOTD=${MC_ILIAS_MOTD:-Ikaria Games}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./mc-ilias/data:/data
      - ./mc-ilias/datapacks:/data/datapacks

  mc-niilo:
    <<: *mc-server-base
    container_name: mc-niilo
    environment:
      - MOTD=${MC_NILO_MOTD:-Königreich der letzten Krieger}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./mc-niilo/data:/data
      - ./mc-niilo/datapacks:/data/datapacks

  mc-bgstpoelten:
    <<: *mc-server-base
    container_name: mc-bgstpoelten
    environment:
      - MOTD=${MC_BGSTPOELEN_MOTD:-BGST Pölten}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./landing/bgstpoelten/data:/data
      - ./landing/bgstpoelten/datapacks:/data/datapacks

  mc-htlstp:
    <<: *mc-server-base
    container_name: mc-htlstp
    environment:
      - MOTD=${MC_HTLSTP_MOTD:-HTL St. Pölten}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./landing/htlstp/data:/data
      - ./landing/htlstp/datapacks:/data/datapacks

  mc-borgstpoelten:
    <<: *mc-server-base
    container_name: mc-borgstpoelten
    environment:
      - MOTD=${MC_BORGSTPOELEN_MOTD:-BORG St. Pölten}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./landing/borgstpoelten/data:/data
      - ./landing/borgstpoelten/datapacks:/data/datapacks

  mc-hakstpoelten:
    <<: *mc-server-base
    container_name: mc-hakstpoelten
    environment:
      - MOTD=${MC_HAKSTPOELEN_MOTD:-HAK St. Pölten}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./landing/hakstpoelten/data:/data
      - ./landing/hakstpoelten/datapacks:/data/datapacks

  mc-basop-bafep-stp:
    <<: *mc-server-base
    container_name: mc-basop-bafep-stp
    environment:
      - MOTD=${MC_BASOP_BAFEP_STP_MOTD:-BASOP/BAFEP St. Pölten}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./landing/basop-bafep-stp/data:/data
      - ./landing/basop-bafep-stp/datapacks:/data/datapacks

  mc-play:
    <<: *mc-server-base
    container_name: mc-play
    environment:
      - MOTD=${MC_PLAY_MOTD:-Allgemeiner Spielserver}
      - MEMORY=5120M
      - MAX_MEMORY=15360M
      - MAX_PLAYERS=99
      - EULA=${MC_EULA:-TRUE}
    volumes:
      - ./landing/play/data:/data
      - ./landing/play/datapacks:/data/datapacks

  bungeecord:
    image: ghcr.io/evo42/mc-server/bungeecord
    build: ./bungeecord
    container_name: mc-bungeecord
    network_mode: "host"
    ports:
      - "${PROXY_PORT:-25565}:25565"
    volumes:
      - ./bungeecord/config:/server
    restart: unless-stopped
    depends_on:
      - mc-ilias
      - mc-niilo
      - mc-bgstpoelten
      - mc-htlstp
      - mc-borgstpoelten
      - mc-hakstpoelten
      - mc-basop-bafep-stp
      - mc-play

  admin-api:
    image: ghcr.io/evo42/mc-server/admin-api
    build: ./admin-api
    container_name: mc-admin-api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./landing/borgstpoelten/data/world/datapacks:/app/world/datapacks
      - ./landing/borgstpoelten/data/datapacks:/app/data/datapacks
      - ./landing/borgstpoelten/datapacks:/app/borgstpoelten/datapacks
      - ./landing/bgstpoelten/data/world/datapacks:/app/world/datapacks
      - ./landing/bgstpoelten/data/datapacks:/app/data/datapacks
      - ./landing/bgstpoelten/datapacks:/app/bgstpoelten/datapacks
      - ./landing/hakstpoelten/data/world/datapacks:/app/world/datapacks
      - ./landing/hakstpoelten/data/datapacks:/app/data/datapacks
      - ./landing/hakstpoelten/datapacks:/app/hakstpoelten/datapacks
      - ./landing/htlstp/data/world/datapacks:/app/world/datapacks
      - ./landing/htlstp/data/datapacks:/app/data/datapacks
      - ./landing/htlstp/datapacks:/app/htlstp/datapacks
      - ./landing/basop-bafep-stp/data/world/datapacks:/app/world/datapacks
      - ./landing/basop-bafep-stp/data/datapacks:/app/data/datapacks
      - ./landing/basop-bafep-stp/datapacks:/app/basop-bafep-stp/datapacks
      - ./landing/play/data/world/datapacks:/app/world/datapacks
      - ./landing/play/data/datapacks:/app/data/datapacks
      - ./landing/play/datapacks:/app/play/datapacks
      - ./mc-ilias/data/world/datapacks:/app/world/datapacks
      - ./mc-ilias/data/datapacks:/app/data/datapacks
      - ./mc-ilias/datapacks:/app/mc-ilias/datapacks
      - ./school/data/datapacks:/app/data/datapacks
      - ./school/datapacks:/app/school/datapacks
      - ./mc-niilo/data/world/datapacks:/app/world/datapacks
      - ./mc-niilo/data/datapacks:/app/data/datapacks
      - ./mc-niilo/datapacks:/app/mc-niilo/datapacks
      - ./admin-api/mc-ilias/datapacks:/app/mc-ilias/datapacks

    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - ADMIN_USER=${ADMIN_USER:-admin}
      - ADMIN_PASS=${ADMIN_PASS:-admin123}
    restart: unless-stopped
    networks:
      - minecraft-net
    ports:
      - "${ADMIN_API_PORT:-3000}:3000"
    depends_on:
      - mc-ilias
      - mc-niilo
      - mc-bgstpoelten
      - mc-htlstp
      - mc-borgstpoelten
      - mc-hakstpoelten
      - mc-basop-bafep-stp
      - mc-play

  admin-ui:
    image: ghcr.io/evo42/mc-server/admin-ui
    build: ./admin-ui-spa
    labels:
      - com.centurylinklabs.watchtower.enable=false

  mc-client:
    image: minio/mc
    container_name: mc-client
    env_file:
      - .env
    volumes:
      - ./backups:/backups
    entrypoint: >
      /bin/sh -c "
      mc alias set s3 \\$S3_ENDPOINT \\$S3_ACCESS_KEY \\$S3_SECRET_KEY;
      tail -f /dev/null;
      "

#  watchtower:
#    image: containrrr/watchtower
#    labels:
#      - com.centurylinklabs.watchtower.enable=false
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#    env_file:
#      - .secrets
#    environment:
#      - DOCKER_API_VERSION=1.44
#    command: --interval 30 --cleanup
#    restart: unless-stopped

networks:
  minecraft-net:
    driver: bridge
  proxy:
    driver: bridge
