x-mc-server-base: &mc-server-base
  env_file: .env
  image: ghcr.io/evo42/mc-server/minecraft-base
  build:
    context: ./minecraft-base
    dockerfile: Dockerfile.consolidated
  restart: unless-stopped
  networks:
    - minecraft-net
  expose:
    - "25565"

services:
  mc-ilias:
    <<: *mc-server-base
    container_name: mc-ilias
    environment:
      MOTD: ${MC_ILIAS_NAME:-mc-ilias Server}
    volumes:
      - ./mc-ilias/data:/data
      - ./mc-ilias/datapacks:/data/datapacks

  mc-niilo:
    <<: *mc-server-base
    container_name: mc-niilo
    environment:
      MOTD: ${MC_NIILO_NAME:-mc-niilo Server}
    volumes:
      - ./mc-niilo/data:/data
      - ./mc-niilo/datapacks:/data/datapacks

  mc-bgstpoelten:
    <<: *mc-server-base
    container_name: mc-bgstpoelten
    environment:
      MOTD: ${MC_BGSTPOELTEN_NAME:-mc-bgstpoelten Server}
    volumes:
      - ./landing/bgstpoelten-mc-landing/data:/data
      - ./landing/bgstpoelten-mc-landing/datapacks:/data/datapacks

  mc-htlstp:
    <<: *mc-server-base
    container_name: mc-htlstp
    environment:
      MOTD: ${MC_HTLSTP_NAME:-mc-htlstp Server}
    volumes:
      - ./landing/htlstp-mc-landing/data:/data
      - ./landing/htlstp-mc-landing/datapacks:/data/datapacks

  mc-borgstpoelten:
    <<: *mc-server-base
    container_name: mc-borgstpoelten
    environment:
      MOTD: ${MC_BORGSTPOELTEN_NAME:-mc-borgstpoelten Server}
    volumes:
      - ./landing/borgstpoelten-mc-landing/data:/data
      - ./landing/borgstpoelten-mc-landing/datapacks:/data/datapacks

  mc-hakstpoelten:
    <<: *mc-server-base
    container_name: mc-hakstpoelten
    environment:
      MOTD: ${MC_HAKSTPOELTEN_NAME:-mc-hakstpoelten Server}
    volumes:
      - ./landing/hakstpoelten-mc-landing/data:/data
      - ./landing/hakstpoelten-mc-landing/datapacks:/data/datapacks

  mc-basop-bafep-stp:
    <<: *mc-server-base
    container_name: mc-basop-bafep-stp
    environment:
      MOTD: ${MC_BASOP_BAFEP_STP_NAME:-mc-basop-bafep-stp Server}
    volumes:
      - ./landing/basop-bafep-stp-mc-landing/data:/data
      - ./landing/basop-bafep-stp-mc-landing/datapacks:/data/datapacks

  mc-play:
    <<: *mc-server-base
    container_name: mc-play
    environment:
      MOTD: ${MC_PLAY_NAME:-mc-play Server}
    volumes:
      - ./landing/play-mc-landing/data:/data
      - ./landing/play-mc-landing/datapacks:/data/datapacks

  bungeecord:
    image: ghcr.io/evo42/mc-server/bungeecord
    build: ./bungeecord
    container_name: mc-bungeecord
    env_file:
      - .env
    environment:
      MAX_PLAYERS: ${MC_MAX_PLAYERS:-42}
      TYPE: BUNGEECORD
      SERVER_PORT: 25565
    ports:
      - "${PROXY_PORT:-25565}:25565"
    volumes:
      - ./bungeecord/config:/server
    restart: unless-stopped
    networks:
      - minecraft-net
      - proxy
    depends_on:
      - mc-ilias
      - mc-niilo

  admin-api:
    image: ghcr.io/evo42/mc-server/admin-api
    build: ./admin-api
    container_name: mc-admin-api
    env_file:
      - .env
    ports:
      - "${ADMIN_API_PORT:-3000}:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./admin-api/admin.html:/usr/src/app/admin.html
      - ./admin-api/stats.html:/usr/src/app/stats.html
      - ./admin-api/services:/usr/src/app/services
      - ./admin-api/routes:/usr/src/app/routes
      - ./admin-api/controllers:/usr/src/app/controllers
      - ./.env:/usr/src/app/.env
      - ./landing:/usr/src/app/landing
    networks:
      - proxy
      - minecraft-net
    restart: unless-stopped

  admin-ui:
    image: ghcr.io/evo42/mc-server/admin-ui
    build: ./admin-ui-spa
    container_name: mc-server-admin-ui-1
    env_file:
      - .env
    ports:
      - "80"
    networks:
      - proxy
    depends_on:
      - admin-api

  nginx:
    build: ./nginx
    container_name: mc-nginx
    labels:
      - com.centurylinklabs.watchtower.enable=false
    ports:
      - "${NGINX_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    volumes:
      - ./admin-ui-dist:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
      - ./landing:/var/www/landing
    networks:
      - proxy
    depends_on:
      - admin-api

networks:
  minecraft-net:
    driver: bridge
  proxy:
    driver: bridge
